.todo-item {
    background: #fff;
    padding: 10px;
    font-size: 12px;
    margin-bottom: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.complete {
  text-decoration: line-through;
}
